<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gaclove.lifereloadedapk" versionCode="20" versionName="20.0-model-hardfix">
    <uses-sdk minSdkVersion="23" targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="人生重开器" icon="@mipmap/ic_launcher" roundIcon="@mipmap/ic_launcher" usesCleartextTraffic="false" allowBackup="false">
        <activity android:name=".MainActivity" exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
